.container {
  width: 1000px;
  height: 1000px;

  border: 1px solid white;

  background: white;
}

.source {
  position: absolute;
  bottom: 0;
  right: 10px;

  font-size: 10px;
  font-style: italic;
  text-align: right;

  color: grey;
}
